/*base*/
:root{
    --baseColor : #f5e7f8;
    --footer_color :rgba(232, 53, 86, 1);
    --color-blue : rgba(97, 208, 212, 1);
    --yelow-color : rgba(209, 201, 38, 1);
    --text-color : #4D4D4D; 
    --hover-color: #61D0D4;
    --border-color: rgb(54, 52, 52);
}
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
      background-color: var(--baseColor);
      color: var(--text-color);
      font-family: Roboto Slab;
      font-weight: 400;
      
  }
  
  footer{
      background-color: var(--footer_color);
      
  }
  ul{
      list-style: none;
      margin: 0;
     
      padding-left: 0;
  }
  a{
      text-decoration: none;
      color: inherit;
  }
  h1,h2,h3{
      margin: 0;
      padding: 0;
  }
  .conteiner-center {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   
  }
  .caption {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 400;
    
}
.svg{
    fill: var(--hover-color);
    margin-right: 5px;
}
.dis{
    color: var(--hover-color);
    font-size: 23px;
}
  /*header*/
  .header-container{
      display: flex;
      justify-content: flex-start;
      position: relative;
  }
  .name_container{
      margin-right: 50px;
      padding-left: 20px;
  }
  .navigation_container{
    margin-top: auto;
  }
  .navigation-header{
  display: flex;
  }
  .nav-link{
      text-transform: uppercase;
      color: #8B8B8B;
      margin-right: 20px;
  }
  
  .nav-link:hover,
  .nav-link:focus{
  color: var(--hover-color);
  }
 
 /*main*/
.my_information{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.photo_container{
    display: block;
    max-height: 385px;
    max-width: 380px;
    margin-right: 130px;
    border-color: var(--baseColor);
    border-radius: 50%;
    transform: rotate(45deg);
    
}
 
.my_information{
    position: relative;
}


.hello{
    font-weight: 500;
    font-size: 60px;
}
.inf_item{
 display: flex;
 padding-top: 50px;
 padding-bottom: 50px;
}
.inf_resume, .inf_project, .inf_skills{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--baseColor);
    margin-right: 30px;
}
.inf_resume{
    background-color: var(--footer_color);
    transition-property: background-color;
    transition-duration: 1000ms;
    
}

.inf_project{
    background-color: var(--hover-color);
    transition-property: background-color;
    transition-duration: 1000ms;
}
.inf_skills{
    
    background-color:var(--yelow-color);
    transition-property: background-color;
    transition-duration: 1000ms;
}

/*footer*/
.footer_container{
    display: flex;
    justify-content: center;
    min-height: 100px;
}
.footer_item{
    display: flex;
    
    align-items: center;
}

.f_link{
    color: var(--baseColor);
    margin-right: 70px;
    display: flex;
 
}
.link{
    display: flex;
    align-items: center;
}
/*resume================================================================*/

.resume_container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text_resume{
    
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: var(--footer_color);
}
.text_r{
    font-size: 13px;
    font-weight: 400;
    color: var(--baseColor);
    text-transform: uppercase;
    text-align: center;
}
.about-me, .work, .education{
    display: flex;
    margin-bottom: 15px;
    margin-right: 50px;
    max-width: 300px;
    min-width: 600px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(139, 139, 139, 1);
}
.text_inf-r{
    padding-top: 10px;
    max-width: 350px;

   
}
.curent{
    color: var(--hover-color);
}
.resume_items{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 15px;
    
}
.resume_skils:last-child{
  margin-bottom: 0;
}
.r_item{
    margin-bottom: 7px;
  
}
.r_item:last-child{
    margin-bottom: 0;
}
.r_subtitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(139, 139, 139, 1);
}
.link_r{
    margin-bottom: 10px;
}
.link_r::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--hover-color);
    border-radius: 50%;
}
/*project=======================================*/
.project{
 
   border-top: 1px solid rgba(139, 139, 139, 1);
}
.project_container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    
    border-bottom: 1px solid rgba(139, 139, 139, 1);
}

.project_inf_container{
    
    margin-left: 50px;
}
.project_photo{
    display: block;
    margin-left: 30px;
    width: 350px;
    height: 250px;
}
.project_title{
width: 110px;
height: 110px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15px;
margin-bottom: 15px;
background-color: var(--hover-color);

}
.project_caption{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 5px;
    border-top: 1px solid rgba(139, 139, 139, 1);
}
/*contact===============================*/
.contact_container{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact_write{
    margin-right: 100px;
}
.linkedin_c{
    margin-bottom: 15px;
}
.phone_c{
    margin-bottom: 15px;
}
.svg_c{
    fill: var(--footer_color);
}
/*jsStyle*/
/*========================BORDER====================================*/
.draw{
    background: var(--hover-color);
    border: 2px solid var(--text-color);
    box-sizing: border-box;
    color: var(--text-color);
}
.baseBg{
background-color: var(--baseColor);

border: none;
}
.yellow{
    background-color: var(--yelow-color);  
}
.blue{
    background-color: var(--hover-color);
}
.red{
    background-color: var(--footer_color);
}
/*============================================================================*/

/*modal*/
.icon-menu{
    width: 35px;
    height: 35px;
    padding: 5px;
    fill: var(--hover-color);
    position: absolute;
    top: 15px;
    right: 70px;
    border: 1px solid var(--text-color);
}
.icon-menu:hover,
.icon-menu:focus{
    fill: var(--footer_color);
}
.icon-cross{
    width: 35px;
    height: 35px;
    padding: 5px;
    fill: var(--hover-color);
    position: absolute;
    top: 15px;
    right: 70px;
    border: 1px solid var(--text-color);
}
.icon-cross:hover,
.icon-cross:focus{
    fill: var(--footer_color);
}
.menu:hover,
.menu:focus {
  fill: var(--hover-color);
}
.menu-button{
    display: none;
}
@media screen and(min-width: 768px) {
    .menu-button{
    display: none;
}
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
  /*====================================================*/
  @media screen and (min-width: 1201px){
    .svg_menu{
        display: none;
        }
        
}
@media screen and (max-width: 1200px){
    .contact_container{
        flex-direction: column;
    
    }
    .contact_links{
        margin-top: 30px;
    }
    .contact_write{
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .photo_container{
    max-height: 200px;
    margin-right: 50px;
    max-width: 300px;}
    .svg_menu{
        display: none;
        }
    .resume_container{
        flex-direction: column;
    }
    .r_center{
        margin-right: auto;
        margin-left: auto;
    }
    .f_link{
        margin-right: 60px;
    }
}
@media screen and (max-width: 767px){
    .photo_container{
        display: none;
        }
    
    .header-container{
     position: relative;
    }
    .footer_item{
        flex-direction: column;
        
    }
    .navigation_container-js{
        position: absolute;
        background-color: var(--border-color);
        top: 105%;
        left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: none;
    }
    .navigation_container-js.is-open{
        display: block;
    }
    .navigation-header{
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .link_home{
        margin-bottom: 30px;
    }
    .menu-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        
      }
    .f_link{
        margin-bottom: 20px;
        
    }
    .f_link:first-child{
        padding-top: 50px;
    }
    .my_information{
        padding-top: 20px;
    }
    .resume_container{
        flex-direction: column;
    }
    .r_center{
        margin-right: auto;
        margin-left: auto;
    }
    .about-me, .work, .education{
        max-width: 150px;
    }
    .project_container{
        flex-direction: column;
    }
    .project_photo{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }
    .project_title{
        display: none;
    }
    .caption{
        font-size: 50px;
    }
} 
@media screen and (max-width: 480px){
    
  .inf_item{
      flex-direction: column;
     justify-content: center;
  }
  .inf_resume, .inf_project, .inf_skills{
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
  }
  .name_container{
      padding-left: 0;
      max-width: 200px;
  }
  .svg_menu{
    width: 30px;
    height: 30px;
    padding: 5px;
    fill: var(--hover-color);
    position: absolute;
    top: 15px;
    right: 30px;
}
}